<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="formContainer">
        <h2>Login</h2>
        <form id="loginForm" action="login" method="post">
            <div class="formGroup">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your name" required
                    autocomplete="off">
            </div>
            <div class="formGroup">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="submitBtn">Login</button>
            <p>Don't have an account?<a href="/signup">Sign Up</a></p>
        </form>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    // showing a toast message
    function showToast(type, message) {
        toastr[type](message);
    }
    // handle form submission
    $('#loginForm').on('submit', function (e) {
        e.preventDefault();

        const username = $('username').val();
        const password = $('password').val();

        $.ajax({
            url: '/login',
            method: 'POST',
            data: { username, password },
            success: function (response) {
                if (response.success) {
                    showToast('success', 'Logged in successfully');
                    window.location.href = '/home'; //redirect to the home page
                } else {
                    showToast('error', response.message);
                }
            },
            error: function () {
                showToast('error', 'An error occured. Please try again.');
            }
        })
    })
</script>

</html>